@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@400;500;700&display=swap');
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  --color1: #bfbdc1;
  --color2: rgb(1, 167, 45);
  --color3: rgb(50, 52, 200);
  --color4: rgb(200, 50, 110);
  font-family: 'Red Hat Display', sans-serif;
  font-size: 16px;
}
body {
  background: url(../images/bg.jpg);
  background-attachment: fixed;
  background-size: cover;
}
header {
  background-color: coral;
  padding: 20px;
  position: sticky;
  top: 0;
}
nav ul {
  list-style-type: none;
  text-align: center;
}
nav ul span {
  display: inline-block;
}
nav li {
  display: inline-block;
}
nav a {
  padding: 10px;
  text-decoration: none;
  color: #000;
}

header h1 {
  text-align: center;
  padding: 20px;
  font-size: 2em;
}

p {
  text-align: left;
  width: 100%;
  margin: auto;
}
main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  row-gap: 50px;
  column-gap: 50px;
  text-align: center;
  padding: 50px;
  max-width: 1200px;
  margin: auto;
  background-color: aliceblue;
  box-shadow: 0 0 15px #00000047;
}
main h1 {
  grid-column: span 2;
  padding: 20px;
  font-size: 3em;
}
.tvshow {
  background-color: rgb(141, 141, 255);
  margin-bottom: 10px;
  width: 100%;
  padding: 20px;
  height: 100%;
}

.tvshow,
.movie {
  max-width: 500px;
  margin: auto;
}

.tvshow img,
.movie img {
  width: 100%;
  max-width: 300px;
  height: 300px;
  object-fit: cover;
  object-position: center;
}
.tvshow p,
.movie p {
  max-width: 300px;
}
.movie {
  width: 100%;
  margin-bottom: 10px;
  background-color: var(--color1);
  padding: 20px;
  height: 100%;
}

@media screen and (max-width: 768px) {
  html {
    font-size: 12px;
  }
  main {
    display: block;
    padding: 0;
  }
}